img {
    border-radius: 8px;
}

h2 {
    border-bottom: none !important;
    color: #C4C4C4;
}

.navbar .site-name {
    color: #C4C4C4;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif !important;
    font-size: 20px !important;
}

a.header-anchor {
    margin-left: -1.1em !important;
}
